@import "../../scss/variables";
@import "../../scss/extends";

.heading {
  @extend %heading;
}
.box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.place {
  font-size: 18px;
}
.songsCard {
  @extend %songs-card;
}
.songsCard__imgBox {
  @extend %songsCard-imgBox;
}
.songsCard__imgBox__img {
  @extend %img;
}
.songsCard:hover {
  .songsCard__imgBox__img {
    transform: scale(1.1);
  }
}
.letterTop {
  @extend %letter-top;
}
.letterBottom {
  @extend %letter-bottom;
}
.songsCard__letter {
  @media only screen and (max-width: 660px) {
    display: none;
  }
}

.aboutArtist {
  margin: 50px 0;
  padding: 0 50px;
  @media only screen and (max-width: 520px) {
    padding: 10px;
  }
}

.popular {
  padding: 0 50px;
  margin-bottom: 30px;
  @media only screen and (max-width: 520px) {
    padding: 10px;
  }
}
.profileImgBox {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  cursor: pointer;
  height: 100%;
}
.profileImg {
  width: 100%;
  // height: 100%;
  border-radius: 10px;
}
.text {
  text-align: left;
}
.username {
  // @extend %heading;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(238, 16, 176, 1) 12%,
    rgba(14, 158, 239, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
.icons {
  display: flex;
  gap: 5px;
}
.viewAll {
  // margin-top: 50px;
  cursor: pointer;
  text-decoration: none;
  color: $whiteColor;
}
.rectangleМiewAll {
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: $whiteColor;
  background-color: #1e1e1e;
  border-radius: 5px;
  width: 140px;
  padding: 10px 20px;
  display: flex;
  margin: 4% auto;
}
.circle {
  display: block;
  background-color: #1e1e1e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
}
.allAlbums {
  padding: 0 50px;
  margin-bottom: 50px;
  @media only screen and (max-width: 520px) {
    padding: 10px;
  }
}
.albums {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  @extend %card;
}
.imgBox {
  @extend %img-box;
}
.img {
  @extend %img;
}
.card:hover {
  .img {
    transform: scale(1.1);
  }
}
.letterTop {
  @extend %letter-top;
}
.letterBottom {
  @extend %letter-bottom;
}
.sentence {
  text-align: left;
  font-size: 20px;
  background: linear-gradient(
    90deg,
    rgba(238, 16, 176, 1) 12%,
    rgba(14, 158, 239, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
.allSingleSongs {
  padding: 0 50px;
  margin-bottom: 50px;
  @media only screen and (max-width: 520px) {
    padding: 10px;
  }
}
.songs {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
