@import "../../scss/variables";
@import "../../scss/extends";

.main {
  padding: 4% 50px;
}
.albums {
  @extend %section-margin;
}
.singles {
  @extend %section-margin;
}
.songs {
  @extend %section-margin;
}
// .trendingSngs {
//   margin-bottom: 5%;
// }
.heading {
  @extend %heading;
}
.box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.place {
  font-size: 18px;
}
.songsCard {
  @extend %songs-card;
}
.songsCard__imgBox {
  @extend %songsCard-imgBox;
}
.songsCard__imgBox__img {
  @extend %img;
}
.songsCard:hover {
  .songsCard__imgBox__img {
    transform: scale(1.1);
  }
}
.songsCard__letter {
  @media only screen and (max-width: 660px) {
    display: none;
  }
}
.card {
  @extend %card;
}
.imgBox {
  @extend %img-box;
}
.img {
  @extend %img;
}
.card:hover {
  .img {
    transform: scale(1.1);
  }
}
.letterTop {
  @extend %letter-top;
}
.letterBottom {
  @extend %letter-bottom;
}
.sentence {
  font-size: 20px;
  background: linear-gradient(
    90deg,
    rgba(238, 16, 176, 1) 12%,
    rgba(14, 158, 239, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
