@import "../../scss/variables";
@import "../../scss/extends";

.main {
  padding: 4% 50px;
}
.tracks {
  margin-bottom: 2%;
}
.songs {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  @extend %box;
  margin-bottom: 40px;
}
.inputBox {
  width: 335px;
  position: relative;
}
.input {
  padding: 10px 10px;
  border-radius: 15px;
  width: 100%;
  background-color: #1f1f1f;
  border: 1px solid #aaa;
  color: $whiteColor;
}
.input:focus {
  outline: none;
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 6px;
}
.select {
  padding: 9px 10px;
  border-radius: 15px;
  background-color: #1f1f1f;
  border: 1px solid #aaa;
  color: $whiteColor;
  cursor: pointer;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card {
  @extend %card;
}
.disabledCard {
  pointer-events: none;
  opacity: 0.7;
}
.imgBox {
  @extend %img-box;
  position: relative;
}
.iconBox {
  position: absolute;
  top: 5px;
  left: 2px;
  display: flex;
}
.premium {
  color: $normalBlue;
}
.album {
  color: $normalBlue;
}
.icons {
  display: flex;
  gap: 0px;
  position: absolute;
  right: 0px;
  top: 5px;
}
.img {
  @extend %img;
}
.card:hover {
  .img {
    transform: scale(1.1);
  }
}
.letterTop {
  @extend %letter-top;
}
.letterBottom {
  @extend %letter-bottom;
}
.sentence {
  text-align: left;
  font-size: 20px;
  background: linear-gradient(
    90deg,
    rgba(238, 16, 176, 1) 12%,
    rgba(14, 158, 239, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
