$pageColor: #000;
$whiteColor: #fff;

$lightPink: #FDE7F7;
$lightPinkHover: #FCDBF3;
$lightPinkActive: #FAB5E7;

$normalPurple: #EE10B0;
$normalPurpleHover: #D60E9E;
$normalPurpleActive: #BE0D8D;

$darkPurple: #B30C84;
$darkPurpleHover: #8F0A6A;  
$darkPurpleActive: #6B074F;
$darkerPurple: #53063E;

$lightBlue: #E7F5FD;
$lightBlueHover: #DBF0FD;
$lightBlueActive: #B4E1FA;

$normalBlue: #0E9EEF;
$normalBlueHover: #0D8ED7;
$normalBlueActive: #0B7EBF;

$darkBlue: #0B77B3;
$darkBlueHover: #085F8F;
$darkBlueActive: #06476C;

$darkerBlue: #053754;